/* Add a border around the image */
.image-with-border {
    border-width: thick;
    border-radius: 5px; /* Optional: Add rounded corners for a softer look */
    border-color: purple;
  }

  .img-container {
      text-align: center;
  }

  .caption {
    color: red;
    font: italic;
  }